Pinz.Client.RemoteServiceConsumer/Service References/AdministrationServiceReference/AdministrationService21.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://pinzonline.com/services" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://pinzonline.com/services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://pinzonline.com/services/Imports">
      <xsd:import schemaLocation="http://fd3eeff9c25248d0ab04261c0d5ef0b1.cloudapp.net/AdministrationService.svc?xsd=xsd0" namespace="http://pinzonline.com/services" />
      <xsd:import schemaLocation="http://fd3eeff9c25248d0ab04261c0d5ef0b1.cloudapp.net/AdministrationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://fd3eeff9c25248d0ab04261c0d5ef0b1.cloudapp.net/AdministrationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Com.Pinz.Server.DataAccess.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdministrationService_InviteNewUser_InputMessage">
    <wsdl:part name="parameters" element="tns:InviteNewUser" />
  </wsdl:message>
  <wsdl:message name="IAdministrationService_InviteNewUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:InviteNewUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministrationService_SetProjectAdminFlag_InputMessage">
    <wsdl:part name="parameters" element="tns:SetProjectAdminFlag" />
  </wsdl:message>
  <wsdl:message name="IAdministrationService_SetProjectAdminFlag_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetProjectAdminFlagResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministrationService_ChangeUserPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeUserPassword" />
  </wsdl:message>
  <wsdl:message name="IAdministrationService_ChangeUserPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeUserPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministrationService_ReadAdminProjectsForUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadAdminProjectsForUser" />
  </wsdl:message>
  <wsdl:message name="IAdministrationService_ReadAdminProjectsForUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadAdminProjectsForUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministrationService_ReadAllUsersByProject_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllUsersByProject" />
  </wsdl:message>
  <wsdl:message name="IAdministrationService_ReadAllUsersByProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllUsersByProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministrationService_ReadAllProjectUsersInProject_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllProjectUsersInProject" />
  </wsdl:message>
  <wsdl:message name="IAdministrationService_ReadAllProjectUsersInProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllProjectUsersInProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministrationService_ReadProjectsForCompanyId_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadProjectsForCompanyId" />
  </wsdl:message>
  <wsdl:message name="IAdministrationService_ReadProjectsForCompanyId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadProjectsForCompanyIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministrationService_ReadAllUsersForCompanyId_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllUsersForCompanyId" />
  </wsdl:message>
  <wsdl:message name="IAdministrationService_ReadAllUsersForCompanyId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllUsersForCompanyIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministrationService_ReadCompanyById_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadCompanyById" />
  </wsdl:message>
  <wsdl:message name="IAdministrationService_ReadCompanyById_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadCompanyByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministrationService_AddUserToProject_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUserToProject" />
  </wsdl:message>
  <wsdl:message name="IAdministrationService_AddUserToProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserToProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministrationService_RemoveUserFromProject_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserFromProject" />
  </wsdl:message>
  <wsdl:message name="IAdministrationService_RemoveUserFromProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserFromProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministrationService_CreateProject_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateProject" />
  </wsdl:message>
  <wsdl:message name="IAdministrationService_CreateProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministrationService_UpdateProject_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProject" />
  </wsdl:message>
  <wsdl:message name="IAdministrationService_UpdateProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministrationService_DeleteProject_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProject" />
  </wsdl:message>
  <wsdl:message name="IAdministrationService_DeleteProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministrationService_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IAdministrationService_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministrationService_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IAdministrationService_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministrationService_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IAdministrationService_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdministrationService">
    <wsdl:operation name="InviteNewUser">
      <wsdl:input wsaw:Action="http://pinzonline.com/services/IAdministrationService/InviteNewUser" message="tns:IAdministrationService_InviteNewUser_InputMessage" />
      <wsdl:output wsaw:Action="http://pinzonline.com/services/IAdministrationService/InviteNewUserResponse" message="tns:IAdministrationService_InviteNewUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetProjectAdminFlag">
      <wsdl:input wsaw:Action="http://pinzonline.com/services/IAdministrationService/SetProjectAdminFlag" message="tns:IAdministrationService_SetProjectAdminFlag_InputMessage" />
      <wsdl:output wsaw:Action="http://pinzonline.com/services/IAdministrationService/SetProjectAdminFlagResponse" message="tns:IAdministrationService_SetProjectAdminFlag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeUserPassword">
      <wsdl:input wsaw:Action="http://pinzonline.com/services/IAdministrationService/ChangeUserPassword" message="tns:IAdministrationService_ChangeUserPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://pinzonline.com/services/IAdministrationService/ChangeUserPasswordResponse" message="tns:IAdministrationService_ChangeUserPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadAdminProjectsForUser">
      <wsdl:input wsaw:Action="http://pinzonline.com/services/IAdministrationService/ReadAdminProjectsForUser" message="tns:IAdministrationService_ReadAdminProjectsForUser_InputMessage" />
      <wsdl:output wsaw:Action="http://pinzonline.com/services/IAdministrationService/ReadAdminProjectsForUserResponse" message="tns:IAdministrationService_ReadAdminProjectsForUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadAllUsersByProject">
      <wsdl:input wsaw:Action="http://pinzonline.com/services/IAdministrationService/ReadAllUsersByProject" message="tns:IAdministrationService_ReadAllUsersByProject_InputMessage" />
      <wsdl:output wsaw:Action="http://pinzonline.com/services/IAdministrationService/ReadAllUsersByProjectResponse" message="tns:IAdministrationService_ReadAllUsersByProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadAllProjectUsersInProject">
      <wsdl:input wsaw:Action="http://pinzonline.com/services/IAdministrationService/ReadAllProjectUsersInProject" message="tns:IAdministrationService_ReadAllProjectUsersInProject_InputMessage" />
      <wsdl:output wsaw:Action="http://pinzonline.com/services/IAdministrationService/ReadAllProjectUsersInProjectResponse" message="tns:IAdministrationService_ReadAllProjectUsersInProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadProjectsForCompanyId">
      <wsdl:input wsaw:Action="http://pinzonline.com/services/IAdministrationService/ReadProjectsForCompanyId" message="tns:IAdministrationService_ReadProjectsForCompanyId_InputMessage" />
      <wsdl:output wsaw:Action="http://pinzonline.com/services/IAdministrationService/ReadProjectsForCompanyIdResponse" message="tns:IAdministrationService_ReadProjectsForCompanyId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadAllUsersForCompanyId">
      <wsdl:input wsaw:Action="http://pinzonline.com/services/IAdministrationService/ReadAllUsersForCompanyId" message="tns:IAdministrationService_ReadAllUsersForCompanyId_InputMessage" />
      <wsdl:output wsaw:Action="http://pinzonline.com/services/IAdministrationService/ReadAllUsersForCompanyIdResponse" message="tns:IAdministrationService_ReadAllUsersForCompanyId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadCompanyById">
      <wsdl:input wsaw:Action="http://pinzonline.com/services/IAdministrationService/ReadCompanyById" message="tns:IAdministrationService_ReadCompanyById_InputMessage" />
      <wsdl:output wsaw:Action="http://pinzonline.com/services/IAdministrationService/ReadCompanyByIdResponse" message="tns:IAdministrationService_ReadCompanyById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUserToProject">
      <wsdl:input wsaw:Action="http://pinzonline.com/services/IAdministrationService/AddUserToProject" message="tns:IAdministrationService_AddUserToProject_InputMessage" />
      <wsdl:output wsaw:Action="http://pinzonline.com/services/IAdministrationService/AddUserToProjectResponse" message="tns:IAdministrationService_AddUserToProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUserFromProject">
      <wsdl:input wsaw:Action="http://pinzonline.com/services/IAdministrationService/RemoveUserFromProject" message="tns:IAdministrationService_RemoveUserFromProject_InputMessage" />
      <wsdl:output wsaw:Action="http://pinzonline.com/services/IAdministrationService/RemoveUserFromProjectResponse" message="tns:IAdministrationService_RemoveUserFromProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateProject">
      <wsdl:input wsaw:Action="http://pinzonline.com/services/IAdministrationService/CreateProject" message="tns:IAdministrationService_CreateProject_InputMessage" />
      <wsdl:output wsaw:Action="http://pinzonline.com/services/IAdministrationService/CreateProjectResponse" message="tns:IAdministrationService_CreateProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProject">
      <wsdl:input wsaw:Action="http://pinzonline.com/services/IAdministrationService/UpdateProject" message="tns:IAdministrationService_UpdateProject_InputMessage" />
      <wsdl:output wsaw:Action="http://pinzonline.com/services/IAdministrationService/UpdateProjectResponse" message="tns:IAdministrationService_UpdateProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProject">
      <wsdl:input wsaw:Action="http://pinzonline.com/services/IAdministrationService/DeleteProject" message="tns:IAdministrationService_DeleteProject_InputMessage" />
      <wsdl:output wsaw:Action="http://pinzonline.com/services/IAdministrationService/DeleteProjectResponse" message="tns:IAdministrationService_DeleteProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://pinzonline.com/services/IAdministrationService/CreateUser" message="tns:IAdministrationService_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://pinzonline.com/services/IAdministrationService/CreateUserResponse" message="tns:IAdministrationService_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://pinzonline.com/services/IAdministrationService/UpdateUser" message="tns:IAdministrationService_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://pinzonline.com/services/IAdministrationService/UpdateUserResponse" message="tns:IAdministrationService_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://pinzonline.com/services/IAdministrationService/DeleteUser" message="tns:IAdministrationService_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://pinzonline.com/services/IAdministrationService/DeleteUserResponse" message="tns:IAdministrationService_DeleteUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>