Pinz.Client.RemoteServiceConsumer/Service References/AdministrationServiceReference/AdministrationService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://pinzonline.com/services" elementFormDefault="qualified" targetNamespace="http://pinzonline.com/services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://fd3eeff9c25248d0ab04261c0d5ef0b1.cloudapp.net/AdministrationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://fd3eeff9c25248d0ab04261c0d5ef0b1.cloudapp.net/AdministrationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Com.Pinz.Server.DataAccess.Model" />
  <xs:element name="InviteNewUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="newUserEmail" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="projectId" type="q1:guid" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="invitingUserId" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InviteNewUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Com.Pinz.Server.DataAccess.Model" minOccurs="0" name="InviteNewUserResult" nillable="true" type="q3:UserDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetProjectAdminFlag">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q4:guid" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="projectId" type="q5:guid" />
        <xs:element minOccurs="0" name="isProjectAdmin" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetProjectAdminFlagResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeUserPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q6:guid" />
        <xs:element minOccurs="0" name="oldPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPassword2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeUserPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeUserPasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAdminProjectsForUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAdminProjectsForUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Com.Pinz.Server.DataAccess.Model" minOccurs="0" name="ReadAdminProjectsForUserResult" nillable="true" type="q8:ArrayOfProjectDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllUsersByProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="projectId" type="q9:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllUsersByProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Com.Pinz.Server.DataAccess.Model" minOccurs="0" name="ReadAllUsersByProjectResult" nillable="true" type="q10:ArrayOfUserDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllProjectUsersInProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="projectId" type="q11:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllProjectUsersInProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Com.Pinz.Server.DataAccess.Model" minOccurs="0" name="ReadAllProjectUsersInProjectResult" nillable="true" type="q12:ArrayOfProjectUserDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadProjectsForCompanyId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="companyId" type="q13:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadProjectsForCompanyIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Com.Pinz.Server.DataAccess.Model" minOccurs="0" name="ReadProjectsForCompanyIdResult" nillable="true" type="q14:ArrayOfProjectDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllUsersForCompanyId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="companyId" type="q15:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllUsersForCompanyIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Com.Pinz.Server.DataAccess.Model" minOccurs="0" name="ReadAllUsersForCompanyIdResult" nillable="true" type="q16:ArrayOfUserDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadCompanyById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q17:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadCompanyByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Com.Pinz.Server.DataAccess.Model" minOccurs="0" name="ReadCompanyByIdResult" nillable="true" type="q18:CompanyDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserToProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q19:guid" />
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="projectId" type="q20:guid" />
        <xs:element minOccurs="0" name="isProjectAdmin" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserToProjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUserFromProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q21:guid" />
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="projectId" type="q22:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUserFromProjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Com.Pinz.Server.DataAccess.Model" minOccurs="0" name="project" nillable="true" type="q23:ProjectDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Com.Pinz.Server.DataAccess.Model" minOccurs="0" name="CreateProjectResult" nillable="true" type="q24:ProjectDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Com.Pinz.Server.DataAccess.Model" minOccurs="0" name="project" nillable="true" type="q25:ProjectDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Com.Pinz.Server.DataAccess.Model" minOccurs="0" name="UpdateProjectResult" nillable="true" type="q26:ProjectDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Com.Pinz.Server.DataAccess.Model" minOccurs="0" name="project" nillable="true" type="q27:ProjectDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Com.Pinz.Server.DataAccess.Model" minOccurs="0" name="user" nillable="true" type="q28:UserDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Com.Pinz.Server.DataAccess.Model" minOccurs="0" name="CreateUserResult" nillable="true" type="q29:UserDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Com.Pinz.Server.DataAccess.Model" minOccurs="0" name="user" nillable="true" type="q30:UserDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Com.Pinz.Server.DataAccess.Model" minOccurs="0" name="UpdateUserResult" nillable="true" type="q31:UserDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Com.Pinz.Server.DataAccess.Model" minOccurs="0" name="user" nillable="true" type="q32:UserDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>