Pinz.Client.RemoteServiceConsumer/Service References/AdministrationServiceReference/AdministrationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Com.Pinz.Server.DataAccess.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Com.Pinz.Server.DataAccess.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://pinzservicewe.cloudapp.net/AdministrationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="UserDO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyId" type="ser:guid" />
      <xs:element minOccurs="0" name="EMail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FamilyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsCompanyAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPinzSuperAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDO" nillable="true" type="tns:UserDO" />
  <xs:complexType name="ArrayOfProjectDO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProjectDO" nillable="true" type="tns:ProjectDO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProjectDO" nillable="true" type="tns:ArrayOfProjectDO" />
  <xs:complexType name="ProjectDO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyId" type="ser:guid" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProjectDO" nillable="true" type="tns:ProjectDO" />
  <xs:complexType name="ArrayOfUserDO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDO" nillable="true" type="tns:UserDO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserDO" nillable="true" type="tns:ArrayOfUserDO" />
  <xs:complexType name="ArrayOfProjectUserDO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProjectUserDO" nillable="true" type="tns:ProjectUserDO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProjectUserDO" nillable="true" type="tns:ArrayOfProjectUserDO" />
  <xs:complexType name="ProjectUserDO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyId" type="ser:guid" />
      <xs:element minOccurs="0" name="EMail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FamilyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsCompanyAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPinzSuperAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsProjectAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProjectUserDO" nillable="true" type="tns:ProjectUserDO" />
  <xs:complexType name="CompanyDO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyId" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompanyDO" nillable="true" type="tns:CompanyDO" />
</xs:schema>