Pinz.Client.RemoteServiceConsumer/Service References/PinzAdminServiceReference/PinzAdminService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://fd3eeff9c25248d0ab04261c0d5ef0b1.cloudapp.net/PinzAdminService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Com.Pinz.Server.DataAccess.Model" />
  <xs:element name="CreateCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Com.Pinz.Server.DataAccess.Model" minOccurs="0" name="company" nillable="true" type="q1:CompanyDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Com.Pinz.Server.DataAccess.Model" minOccurs="0" name="CreateCompanyResult" nillable="true" type="q2:CompanyDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Com.Pinz.Server.DataAccess.Model" minOccurs="0" name="company" nillable="true" type="q3:CompanyDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Com.Pinz.Server.DataAccess.Model" minOccurs="0" name="UpdateCompanyResult" nillable="true" type="q4:CompanyDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Com.Pinz.Server.DataAccess.Model" minOccurs="0" name="company" nillable="true" type="q5:CompanyDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCompanyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>